$background-color: hsl(0deg,0%,35%);
$foreground-color: white;
$light-blue: hsl(200deg, 76%, 68%);

body, html
{
    background-color: $background-color;
    color: $foreground-color;
}

table 
{
    text-align: center;
    tr.it > td
    {
        font-style: italic;
    }
}

a
{
    color: $light-blue;
    text-decoration: none;
    &:hover
    {
        text-decoration: underline;
    }
}
.it
{
    font-style: italic;
}

@media screen and (max-width: 1035px)
{
    body, html
    {
        height: auto;
        width: 95%;
    }
    p, p *, p **, p ***, p ****, p *****
    {
        display: flex;
        flex-wrap: wrap;
        padding-right: 10px;
    }
    .desktop-table
    {
        display: none;
    }
}
@media screen and (min-width: 1035px)
{
    body, html
    {
        height: 100%;
        width: auto;
    }
    .mobile-table
    {
        display: none;
    }
}