@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300&display=swap');

$background-color: hsl(0deg,0%,35%);
$foreground-color: white;
$light-blue: hsl(200deg, 76%, 68%);
$dark-blue: hsl(200deg, 76%, 48%);

body, html
{
    background-color: $background-color;
    color: $foreground-color;
    font-family: 'Source Sans Pro', sans-serif;
}

table 
{
    text-align: center;
    tr.it > td
    {
        font-style: italic;
        font-family: 'Libre Baskerville', serif;
    }
}

a
{
    color: $light-blue;
    text-decoration: none;
    &:hover
    {
        text-decoration: underline;
    }
    &:active, &:visited
    {
        color: $dark-blue;
    }
}
.it
{
    font-style: italic;
}

@media screen and (max-width: 1035px)
{
    body, html
    {
        height: auto;
        width: 95%;
    }
    p, p *, p **, p ***, p ****, p *****
    {
        display: flex;
        flex-wrap: wrap;
        padding-right: 10px;
    }
    .desktop-table
    {
        display: none;
    }
}
@media screen and (min-width: 1035px)
{
    body, html
    {
        height: auto;
        width: auto;
    }
    .mobile-table
    {
        display: none;
    }
}

#translator
{
    margin-top: 1rem;
}